
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
#app{
    height: 100vh;
}

.ko{
    height: 100vh;
    display: flex;
}
.login-bg{
    width: 50%;
    height: 100%;
    background: url(../img/login.png);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.bg-content{
    width: 450px;
    height: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(255,255,255,.6);
    border-bottom: 1px solid rgba(255,255,255,.6);
    color: white;
    text-align: center;
}

.terms-links {
    margin-top: 40px;
    color: white;
    font-size: 14px;
    text-align: center;
}

.fot_span:nth-child(n+2) {
    position: relative;
    margin-left: 5px;
    padding-left: 10px;
}

.fot_span::before{
    position: absolute;
    left: 1px;
    bottom: 1px;
    content: "";
    width: 1px;
    height: 15px;
    background-color: gray;
}

.fot_em {
    text-align: center;
    font-size: 14px;
    color: gray;
    font-style: normal;
    margin-top: 14px;
}

.language {
    margin-top: 20px;
    text-align: center;
}

.language select {
    width: 180px;
    padding: 10px;
    background: rgb(52, 53, 75);
    color: white;
}

.login-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    float: left;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 500px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.guide-text{
    text-align: left;
}

.guide-text a{
    color: powderblue;
}

.login-form input {
    width: 476px;
    font-size: 15px;
    margin-top: 15px;
    padding: 10px 0;
}
.login-form input:focus{
    outline: none;
    border: 1px solid skyblue;
}

.login-form button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: rgb(34, 180, 230);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.login-sub-wrap {
    float: right;
    margin-top: 15px;
}

.social-login-form{
    margin-top: 90px;
}

.social-login-button{
    display: flex;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    justify-content: center;
}

.text-button{
    position: relative;
    text-align: center;
    margin-top: 40px;
    cursor: pointer;
    font-weight: 700;
}

.text-button:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 10px;
    right: auto;
    bottom: auto;
    background-color: gray;
    width: 100%;
    height: 1px;
    z-index: 1;
}


.text-button span{
    position: relative;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    background-color: #fff;
}

.login-con {
    margin-top: 30px;
    width: 500px;
    text-align: center;
    color: skyblue;
    font-weight: bold;
    font-size: 13px;
    display: none;
    border-bottom: 1px solid gray;
}

.more-content{
    width: 100%;
    background: rgb(246, 252, 254);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.channels{
    text-align: center;
    padding: 0;
}

.channels li{
    display: inline-block;
    margin: 10px;
}

.channels li a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebf0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.fot-message{
    font-size: 13px;
    color: #c2c2b7;
    margin-top: 20px;
    text-align: center;
}