*{
    margin: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}

nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin-left: 20px;
}
a{
    font-weight: 600;
    color: #777;
    text-decoration: none;
}

.logo{
    font-size: 18px;
    font-weight: bold;
}
.main{
    position: relative;
    height: 700px;
}
.logo span{
    color: skyblue;
}
nav{
    padding: 0 40px;
    display: flex;
    justify-content:space-between;
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #e3e3e3;
}