*{
    margin: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
ul{
    list-style: none;
    padding-left: 15px;
}
.car li{
    padding: 15px 0;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin-left: 20px;
}
a{
    font-weight: 600;
    color: #777;
    text-decoration: none;
}

.logo{
    font-size: 18px;
    font-weight: bold;
}
.main{
    position: relative;
    height: 700px;
    margin-bottom:200px;
}
.logo span{
    color: skyblue;
}
nav{
    padding: 0 40px;
    display: flex;
    justify-content:space-between;
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 150px;
}
.container{
	width:800px;
	margin: 0 auto;
}
.title h1{
	margin:0;
}
.content{
	padding-top:20px;
	height:400px;
	background:#FDF5E6;
}
.sub{
	padding-top:20px;
	background:#FAEBCD;
	font-size:18px;
}
.sub span{
	float:right;
}
.title{
	background:#FAEBC3;
}
